body{
    font-family: 'Lato', sans-serif;
    margin: 0%;
}
h1{
    color: #34ad44;
    font-size: 60px;
}
.top-background{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
}
.lets-help{
    color: rgb(224, 219, 219);
    font-weight:500;
    text-align: center;
    border-radius: 20px;
    padding-top: 8%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}
.donate-button{
    color: white;
    background-image: linear-gradient(rgb(180, 251, 180), green);
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 20px;
}
.donate-today{
    color: black;
}
h2{
    font-size: 35px;
}
p{
    font-size: 20px;
}
.space{
    padding-bottom: 5%;
}
#money-blocks li{
    font-size: 30px;
    list-style: none;
    color: gray;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 10px;
    margin: 5px;
}
.money-color{
    color: red;
    background-color: rgb(253, 230, 230);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid red;
    border-radius: 5%;
}
.under-line{
    color: rgb(163, 161, 161);
    border-bottom-style: solid;
    border-color: rgb(163, 161, 161);
    border-width: 1px;
    padding-bottom: 8px;
    margin-top: 10%;
    margin-bottom: 4%;
}
.plan-block{
    text-align: left;
    width: 25%;
    margin: 7px;
    background-color: #feeff1;
    padding: 40px 20px;
    display: inline-block;
}
.plan-block p{
    font-size: 15px;
}
.plan-block img{
    height: 60px;
    width: 60px;
}
.image-color{
    background-color: rgb(228, 248, 254);
}
.image-color2{
    background-color: rgb(251, 251, 212);
}
.plan-donate{
    padding-top: 5%;
}
.plan-donate p{
    margin-bottom: 5%;
}

.lives-depend{
    display: flex;
}
#image-position{
    height: 500px;
    width: 650px; 
    padding-left: 14%;
    padding-right: 0%;
    padding-bottom: 15%;
}
.head-para{
    width: 35%;
    padding-left: 10%;
    padding-right: 0%;
    padding-top: 14px;
    padding-bottom: 10px;
}
.updates{
    background-color: rgb(226, 249, 226);
    padding: 50px 10px;
    display: flex;
}
.water-appeal{
    text-align: center;
    background-color:rgb(223, 247, 255);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 250px;
    padding-right: 250px;
}
.email-background{
    text-align: left;
    color: gray;
    background-color: #e5e3e3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}
.subs-background{
    color: white;
    background-color: rgba(82, 206, 99, 0.957);
    padding: 2% 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
}
footer h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(209, 6, 6);
    font-size: 26px;
    font-style: italic;
}
footer{
    text-align: center;
    background-image: linear-gradient(rgb(201, 249, 201), rgb(0, 125, 0));
    padding: 2%;
}